<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Note that changes made here may require a respring to be applied.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Enable</string>
			<key>default</key>
			<true/>
			<key>key</key>
			<string>Enabled</string>
			<key>defaults</key>
			<string>com.aehmlo.darkboard</string>
			<key>PostNotification</key>
			<string>com.aehmlo.darkboard/reloadPrefs</string>
		</dict>
		<dict>
			<key>bundle</key>
			<string>AppList</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>isController</key>
			<true/>
			<key>ALSettingsKeyPrefix</key>
			<string>DisableFor-</string>
			<key>ALSettingsPath</key>
			<string>/var/mobile/Library/Preferences/com.aehmlo.darkboard.plist</string>
			<key>ALAllowsSelection</key>
			<true/>
			<key>label</key>
			<string>Disable For Applications</string>
			<key>ALChangeNotification</key>
			<string>com.aehmlo.darkboard/reloadPrefs</string>
			<key>ALSectionDescriptors</key>
			<array>
				<dict>
		            <key>title</key>
		            <string>System Applications</string>
		            <key>predicate</key>
		            <string>isSystemApplication = TRUE</string>
		            <key>cell-class-name</key>
		            <string>ALSwitchCell</string>
		            <key>icon-size</key>
		            <integer>29</integer>
		            <key>suppress-hidden-apps</key>
		            <true/>
		        </dict>
		        <dict>
		            <key>title</key>
		            <string>User Applications</string>
		            <key>predicate</key>
		            <string>isSystemApplication = FALSE</string>
		            <key>cell-class-name</key>
		            <string>ALSwitchCell</string>
		            <key>icon-size</key>
		            <integer>29</integer>
		           	<key>suppress-hidden-apps</key>
		           	<true/>
		            <key>footer-title</key>
		            <string>Apps disabled here will behave normally, and will have either a dark or light keyboard as they would normally have.</string>
		        </dict>
		    </array>
		</dict>
	</array>
	<key>title</key>
	<string>DarkBoard</string>
</dict>
</plist>
